{% extends "base.html" %}


{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <ul>
                GET
                <li>/pictures - view all pictures</li>
                <li>/pictures/Landscape - view pictures with type: Landscape</li>
                <li>/pictures/StillLife - view pictures with type: StillLife</li>
                <li>/pictures/PortraitGraphics - view pictures with type: PortraitGraphics</li>
                <li>/pictures/PortraitArt - view pictures with type: PortraitArt</li>
                <li>/tasks  - all Tasks </li>

                PUT
                <li>/tasks/typeName/pictureName  - find image with type&name </li>

                POST
                <li>/tasks/taskID/typeName/pictureName  - update task with taskID with new type&name </li>

                DELETE
                <li>/tasks/taskID/  - delete task with taskID  </li>
            </ul>
        </div>
    </div>
{% endblock body %}