{% extends "base.html" %}
{% load static %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <ul>
                <table>
                    {% for key, value in tasks.items %}
                        <li>ID = {{ key }}
                            <ul>
                                <li>
                                    <table>
                                        {% for pict in value %}
                                            <tr>
                                                <td> NAME: {{ pict.name }} </td>
                                                <td> TYPE: {{ pict.type }} </td>
                                                <td> PRICE: {{ pict.price }} </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <img class="autoResizeImage" title="{{ pict.name }}"
                                                         src="{% static "img" %}/{{ pict.link }}" class="poster-img"/>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </li>
                            </ul>
                        </li>
                    {% endfor %}
                </table>
            </ul>
        </div>
    </div>
{% endblock body %}