{% extends "base.html" %}
{% load static %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <table>
                {% for pict in pictures %}

                    <tr> <td> NAME: {{ pict.name }} </td> </tr>
                    <tr>
                        <td>
                            <img class="autoResizeImage" title="{{ pict.name }}"
                                 src="{% static "img" %}/{{ pict.link }}" class="poster-img"/>
                        </td>
                    </tr>

                {% endfor %}
            </table>
        </div>
    </div>
{% endblock body %}